Repository b4lesh/grse-academy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, tslint --fix

Проверка линтера на scss
  src/app/app.component.scss
Due: none

Линтинг всех файлов app
  .lintstagedrc.json
  .stylelintrc
  .stylelintrc.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix

Линтинг всех файлов app
  .prettierrc.json
  .stylelintrc
Due: prettier --write

Сделана база, но пока кривое удаление
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix

Добавлен интерфейс
  src/app/app.component.ts
Due: prettier --write, tslint --fix

Добавлен modules и db
  src/app/app.component.ts
  src/app/database/data.ts
  src/app/modules/itask.ts
Due: prettier --write, tslint --fix

upd
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
Due: prettier --write, tslint --fix

Переопрделение моудуля и data
  src/app/app.component.ts
  src/app/database/data.ts
Due: prettier --write, tslint --fix

Комент title
  src/app/app.component.spec.ts
Due: prettier --write, tslint --fix

Создание нового компонента и перенос списка дел в него
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.spec.ts
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Удаление title из тестов
  src/app/app.component.spec.ts
Due: prettier --write, tslint --fix

Создание нового дизайна и основных функций
  src/app/app.component.scss
  src/app/database/data.ts
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
  src/index.html
  src/main.ts
  src/styles.scss
Due: prettier --write, tslint --fix

Изменен общий дизайн позиционирования. Изменен дизайн доабвления и изменения задач
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Добавление картинки "мусорки"
  src/app/todo-list/images/trash.png
Due: none

Реализованная система удаления задач
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Маленькие доработки
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Добавление навигационных картинок
  src/app/navigation-bar/images/nav-clipboard.png
  src/app/navigation-bar/images/nav-home.png
  src/app/navigation-bar/images/navigation-bar.jpg
Due: none

Добавление Init и Destroy
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Создание навигационной панели
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/navigation-bar/navigation-bar.component.html
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/navigation-bar/navigation-bar.component.spec.ts
  src/app/navigation-bar/navigation-bar.component.ts
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
Due: prettier --write, tslint --fix

Реализация lazy загрузки
  src/app/app-routing.module.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Перенос роутеров в отдельный модуль
  src/app/todo-list/todo-list-routing.module.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Настройка роутинга основного компонента. Добавлен редирект на пустую страницу
  src/app/app-routing.module.ts
  src/app/app.component.html
Due: prettier --write, tslint --fix

Подготовка к Observable
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Создание "ленивой" загрузки
  src/app/app-routing.module.ts
  src/app/todo-list/todo-list-routing.module.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Подготовка к Observable данным. Генерация сервиса
  src/app/todo-list/todo-list.service.spec.ts
  src/app/todo-list/todo-list.service.ts
Due: prettier --write, tslint --fix

Реализация кривых Observable данных. Необоххдимо выполнить синхронно это
  src/app/todo-list/todo-list.component.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Интерфейс через FormBuilder
  src/app/app.module.ts
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Добавил пробелы
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

upd
  package-lock.json
  package.json
Due: prettier --write

upd
  tslint.json
Due: prettier --write

Время
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Добавлена страница для входа
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.spec.ts
  src/app/login/login.component.ts
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/todo-list/todo-list.component.html
Due: prettier --write, tslint --fix

upd
  src/app/login/login.component.html
Due: prettier --write

Реализация auth.guard и внедрение ее в todo-list и login
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/auth/auth.guard.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.ts
  src/app/modules/user.ts
  src/app/navigation-bar/navigation-bar.component.html
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/todo-list/todo-list.component.html
Due: prettier --write, tslint --fix

Сделана страница с ошибкой 404
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/app/not-found/not-found.component.html
  src/app/not-found/not-found.component.scss
  src/app/not-found/not-found.component.spec.ts
  src/app/not-found/not-found.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix

Реализация навигационной панели и домашней страницы
  src/app/app.component.html
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/login/login.component.html
  src/app/login/login.component.ts
  src/app/navigation-bar/navigation-bar.component.html
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/navigation-bar/navigation-bar.component.ts
Due: prettier --write, tslint --fix

Настроена домашняя страница
  src/app/home/home.component.html
  src/app/home/home.component.ts
Due: prettier --write, tslint --fix

Сделана страница входа
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/navigation-bar/navigation-bar.component.ts
Due: prettier --write, tslint --fix

Переделал todo-list. Но еще не все
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,json,md,html}) or (any of: *.css)) or (any of: *.ts)
  npm run lint-css: any of: *.css
  tslint --fix: any of: *.ts
