Repository b4lesh/grse-academy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, tslint --fix

mini upd
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/todo-list/todo-list.component.scss
Due: none

Пересобрал todo-list
  src/app/login/login.component.html
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
  src/index.html
Due: prettier --write, tslint --fix

Изменена иконка, но она не работает
  src/favicon.svg
Due: none

Обновлены выделения кнопок
  src/app/login/login.component.scss
  src/app/todo-list/todo-list.component.scss
Due: none

Сделан карскас формы регистрации
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/navigation-bar/navigation-bar.component.html
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.spec.ts
  src/app/registration/registration.component.ts
Due: prettier --write, tslint --fix

Реализована простая регистрация
  src/app/app.component.ts
  src/app/login/login.component.scss
  src/app/login/login.component.ts
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.ts
  src/styles.scss
Due: prettier --write, tslint --fix

upd main icon
  src/index.html
  src/witch.svg
Due: prettier --write

Обновлены перебросы на маршруты
  src/app/login/login.component.ts
  src/app/navigation-bar/navigation-bar.component.ts
  src/app/registration/registration.component.ts
Due: prettier --write, tslint --fix

mini upd
  angular.json
  src/index.html
Due: prettier --write

Устновка bootstrap5
  angular.json
  package-lock.json
  package.json
Due: prettier --write

Изменение навигационной панели через bootstrap
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/navigation-bar/navigation-bar.component.html
  src/app/navigation-bar/navigation-bar.component.scss
  src/styles.scss
Due: prettier --write

Создан футер, но он не работает
  src/app/app.module.ts
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/footer/footer.component.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/navigation-bar/navigation-bar.component.scss
Due: prettier --write, tslint --fix

Реализован футер полностью и мини обновления навигационной панели
  src/app/app.component.html
  src/app/footer/footer.component.html
  src/app/footer/footer.component.scss
  src/app/home/home.component.html
  src/app/navigation-bar/navigation-bar.component.scss
  src/index.html
Due: prettier --write

Переделана страница входа
  src/app/footer/footer.component.html
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.ts
Due: prettier --write, tslint --fix

Передалана страница регистрации
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.ts
  src/index.html
Due: prettier --write, tslint --fix

Добавлены сообщения о неверно введенных данных
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.ts
Due: prettier --write, tslint --fix

Сделана правильная навигация
  src/app/navigation-bar/navigation-bar.component.ts
Due: prettier --write, tslint --fix

Небольшая переделка таблицы под bootstrap
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
Due: prettier --write

Окончательная переделка под bootstrap
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
Due: prettier --write

mini upd
  angular.json
  src/favicon.svg
  src/witch.svg
Due: prettier --write

Удалена ненужная картинка
  src/app/todo-list/images/trash.png
Due: none

Увеличена высота строк в таблице
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
Due: prettier --write

Обновленная форма "Страница не надена"
  src/app/not-found/not-found.component.html
  src/app/not-found/not-found.component.scss
Due: prettier --write

Добавлена навигационная модель и футер в страницу-заглушку
  src/app/not-found/not-found.component.html
Due: prettier --write

Удален ненужный метод и перенесено наполнение формы в constructor из ngOnInit
  src/app/registration/registration.component.ts
Due: prettier --write, tslint --fix

Перевод страницу входа в отдельную загрузку
  src/app/app-routing.module.ts
  src/app/login/login-routing.module.ts
  src/app/login/login.module.ts
  src/app/todo-list/todo-list.service.spec.ts
  src/app/todo-list/todo-list.service.ts
Due: prettier --write, tslint --fix

upd
  README.md
Due: prettier --write

Добалены свои задачи
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Создан поиск и сортировка
  README.md
  src/app/app.module.ts
  src/app/navigation-bar/navigation-bar.component.scss
  src/app/todo-list/search.pipe.ts
  src/app/todo-list/sort.pipe.ts
  src/app/todo-list/todo-list.component.html
  src/app/todo-list/todo-list.component.scss
  src/app/todo-list/todo-list.component.ts
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

mini upd
  src/app/todo-list/todo-list.component.scss
  src/environments/environment.ts
Due: prettier --write, tslint --fix

Обновление до Angular 11.0.1
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.ts
Due: prettier --write, tslint --fix

Перенос труб для корректной обработки lazyload режима для страницы с таблицей задач
  src/app/app.module.ts
Due: prettier --write, tslint --fix

Перенос труб для корректной обработки lazyload режима для страницы с таблицей задач
  src/app/todo-list/todo-list.module.ts
Due: prettier --write, tslint --fix

Lazyload режим для регистрации
  README.md
  src/app/app-routing.module.ts
  src/app/login/login-routing.module.ts
  src/app/registration/registration-routing.module.ts
  src/app/registration/registration.module.ts
Due: prettier --write, tslint --fix

Перенос проекта на сервер firebase
  .firebase/hosting.ZGlzdFxncnNlLWFjYWRlbXk.cache
  .firebaserc
  firebase.json
Due: prettier --write

Настроен правильный роутниг
  .firebase/hosting.ZGlzdFxncnNlLWFjYWRlbXk.cache
  firebase.json
Due: prettier --write

upd
  .firebase/hosting.ZGlzdFxncnNlLWFjYWRlbXk.cache
Due: none

update v0.3.2
  README.md
Due: prettier --write

Доабвлена возможность работы с БД
  package-lock.json
  package.json
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

Теперь задачи отправляются на сервер
  src/app/todo-list/crud.service.ts
  src/app/todo-list/todo-list.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,json,md,html}) or (any of: *.css)) or (any of: *.ts)
  npm run lint-css: any of: *.css
  tslint --fix: any of: *.ts
